.head-title {
  padding: 60px 0 60px 0;
  border-top: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;

  h1 {
    font-weight: 300;    
  }
}

.head-subtitle {
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #545454;
  width: 50%;
  margin: auto;
}