.head-title {
  padding: 60px 0 60px 0;
  border-top: lightgrey 1px solid;
  border-bottom: lightgrey 1px solid;

}

.head-subtitle {
  text-align: center;
  line-height: 40px;
  color: #545454;
  width: 80%;
  margin: auto;
  padding: 60px 0 60px 0;
  border-bottom: lightgrey 1px solid;
}

.picframe {
  height: 300px;
  background-color: grey;
  margin: 0 15px 15px 15px;
}

.separate-about {
  width: 70%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

.separate-ind {
  width: 85%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  color: #545454;
  vertical-align: middle;

  h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h4 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  p {
    font-size: 24px;
  }
}

.justified {
  text-align: justify;
}