.container {
  text-align: center;
}

.hero-image {
  background: image-url("main.jpg") fixed no-repeat;
  background-size: cover;
  min-height: 590px;
}

.overlay {
  width: 70%;
  margin: 0 auto;
  padding: 48px 110px 0 110px;
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 40px;
  text-align: center;

  a {
    display: inline-block;
    color: #545454;
    text-decoration: none;
    font-weight: 400;
  }

  h2 {
    font-weight: normal;
  }
}
  
.project-preview {
  float: left;
  width: calc(33.3% - 20px);
  margin: 50px 10px 0px 10px;
  background: image-url("home.png") no-repeat;
  height: 450px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  &:hover {
    .project-description {
      opacity: 1;
    }
  }
}

@media (max-width: 900px) {
  .project-preview {
    width: calc(100% - 20px);
  }
}

.project-description {
  padding: 0 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: rgba(95, 114, 59, 0.85);
  text-align: center;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  opacity: 0;
  line-height: 35px;

  h3, h4 {
    font-family: "muli", sans-serif;
    font-weight: lighter;
  }

  .location {
    border-top: 1px solid white;
  }
}

.project-info {
  font-size: 22px;
  font-family: "playfair", serif;
}