nav {
  text-align: center;
  position: relative;
  min-height: 90px;
  margin-left: 0;
  margin-right: 0;
  
  a {
    display: inline-block;
    color: #545454;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
  }

  img {
    vertical-align: middle;
    max-height: 23px;
  }
}