@charset "utf-8";
@import "normalize";
@import "_navbar";
@import "container";
@import "jumbotron";
@import "footer";

*, *:before, *:after {
  box-sizing: border-box;
}

@media (min-width: 60rem) {
    .col { float: left;}
    .col.full { width: 100%; }
    .col.two-thirds { width: 66.7%; }
    .col.half { width: 50%; }
    .col.third { width: 33.3%; }
    .col.fourth { width: 25%; }
    .col.three-fourth { width: 75%;}
    .col.fifth { width: 20%; }
    .col.sixth { width: 16.6%; }
    .col.flow-opposite { float: right; }
}

/** {
  background-color: rgba(5, 5, 5, .3);
}*/

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background: white;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  color: darkgrey;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.wrapped{
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.inspace {
  margin-bottom: 75px;
}