@charset "utf-8";
@import "normalize";
@import "typography";
@import "navbar";
@import "container";
@import "jumbotron";
@import "about";
@import "form";
@import "footer";

*, *:before, *:after {
  box-sizing: border-box;
}

@media (min-width: 60rem) {
    .col { float: left;}
    .col.full { width: 100%; }
    .col.two-thirds { width: 66.7%; }
    .col.half { width: 50%; }
    .col.third { width: 33.3%; }
    .col.fourth { width: 25%; }
    .col.three-fourth { width: 75%;}
    .col.fifth { width: 20%; }
    .col.sixth { width: 16.6%; }
    .col.flow-opposite { float: right; }
}

/** {
  background-color: rgba(5, 5, 5, .3);
}*/

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background: white;
  font-family: "playfair", serif;
  font-size: 1em;

  a {
    font-family: "muli", sans-serif;
  }
}

h1 {
  color: #545454;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.wrapped{
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}