<form action="//formspree.io/your@email.com" method="POST">
  <input type="text" name="full_name" placeholder="Nombre" class="in-field">
  <input type="email" name="email" placeholder="Email" class="in-field">
  <input type="text" name="title" placeholder="Asunto" class="in-field">
  <input type="text" name="message" placeholder="Mensaje" class="in-field">
  <button type="submit" class="submit-button">Enviar</button>
</form>