<footer>
  <nav class="wrapped footer-nav">
    <a class="col fourth" href="/">INICIO</a>
    <a class="col fourth" href="/proyectos.html">PROYECTOS</a>
    <a class="col fourth" href="/acerca.html">ACERCA</a>
    <a class="col fourth" href="#">CONTACTO</a>
  </nav>

  <div class="borderline"></div>

  <nav class="wrapped bottom-details">
    <a href="/" class="footer-logo col full"><%= image_tag "logo.png" %></a>
    
    <p class="col third">Monterrey, N.L.</p>
    <p class="col third">Teléfono: 81.8181.0102</p>
    <p class="col third">Email: contacto@glasswelt.com</p>
  </nav>

</footer>