<footer>
  <!-- <nav class="wrapped footer-nav">
    <a class="col fourth" href="/">INICIO</a>
    <a class="col fourth" href="/proyectos.html">PROYECTOS</a>
    <a class="col fourth" href="/acerca.html">ACERCA</a>
    <a class="col fourth" href="/contacto.html">CONTACTO</a>
  </nav> -->
  <a href="/" class="footer-logo col full"><%= image_tag "logo.png" %></a>
  
  <div class="contact-info">
    <p >Monterrey, N.L.</p>
    <span>|</span>
    <p >Email: contacto@glasswelt.com</p>
    <span>|</span>
    <p >Teléfono: 81.8181.0102</p>
  </div>
  <div class="legal">
    <p>© Glaswelt</p>
    <span>|</span>
    <p>Site by Novo Digital Workshop</p>
    <span>|</span>
    <p>All Rights Reserved</p>    
  </div>

</footer>