<header class="wrapped clearfix">
  <nav class="main-nav">
    <a class="col fifth"><%= image_tag "logo.png" %></a>
    <a class="col fifth" href="#">INICIO</a>
    <a class="col fifth" href="#">PROYECTOS</a>
    <a class="col fifth" href="#">ACERCA</a>
    <a class="col fifth" href="#">CONTACTO</a>
  </nav>
</header>