<section class="head-title">
  <h1>ACERCA DE GLASWELT</h1>
</section>

<section class="wrapped head-subtitle">
  <h1>We specialize in traditional architecture, design, and planning adhering to the classic principles of the lowcountry vernacular.</h1>
</section>

<section class="wrapped clearfix separate-acerca">
  <div class="col fifth picframe"></div>
  <div class="col three-fourth">
    <h3>Legentis in iis qui facit</h3>
    <p class="justified">Legentis in iis qui facit eorum claritatem Investigationes demonstraverunt lectores legere me! Assum typi non habent claritatem insitam est usus lius. Volutpat ut wisi enim ad minim veniam quis nostrud exerci tation. Molestie consequat vel illum dolore eu feugiat nulla facilisis at! Eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Nunc nobis videntur parum clari fiant sollemnes in? Putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima eodem! Velit esse molestie consequat vel illum dolore eu feugiat nulla? Quod ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum. Demonstraverunt lectores legere me lius mirum est notare quam littera gothica quam nunc modo typi qui. Vero eros et accumsan et iusto odio dignissim. Assum typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem Investigationes?</p>
    </div>
</section>

<section class="wrapped clearfix separate">
  <div class="col flow-opposite fifth picframe"></div>
  <div class="col flow-opposite three-fourth">
    <h3>Legentis in iis qui facit</h3>
    <p class="justified">Legentis in iis qui facit eorum claritatem Investigationes demonstraverunt lectores legere me! Assum typi non habent claritatem insitam est usus lius. Volutpat ut wisi enim ad minim veniam quis nostrud exerci tation. Molestie consequat vel illum dolore eu feugiat nulla facilisis at! Eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes in. Nunc nobis videntur parum clari fiant sollemnes in? Putamus parum claram anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima eodem! Velit esse molestie consequat vel illum dolore eu feugiat nulla? Quod ii legunt saepius claritas est etiam processus dynamicus qui sequitur mutationem consuetudium lectorum. Demonstraverunt lectores legere me lius mirum est notare quam littera gothica quam nunc modo typi qui. Vero eros et accumsan et iusto odio dignissim. Assum typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem Investigationes?</p>
    </div>
</section>