<section class="head-title">
  <h1>PONTE EN CONTACTO CON NOSOTROS</h1>
</section>

<div class="wrapped"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3596.4078078847206!2d-100.37072648532325!3d25.65777288368399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bdedbc6749a1%3A0xb6beec7533537eee!2sGlaswelt!5e0!3m2!1ses-419!2smx!4v1454971319868" width="1120" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>

<section class="wrapped clearfix contacto">
  <div class="col fourth">
    <h3>GLASWELT</h3>
    <div class="borderline"></div>
    <div class="first">
      <p>T. 81.8181.2020</p>
      <p>E. contacto@glasswelt.com</p>
    </div>
    <div class="borderline"></div>
    <p>Grijalva Norte 112</p>
    <p>Col. Del Valle</p>
    <p>San Pedro Garza García, N.L.</p>
    <p>66220</p>
  </div>

  <div class="col three-fourth">
    <%= partial "contact" %>
  </div>
</section>