---
title: Glaswelt
---
<section class="container hero-image">
</section>

<section class="overlay">
    <h2>We specialize in traditional architecture, design, and planning adhering to the classic principles of the lowcountry vernacular.</h2>
    <a href="#">VER PROYECTOS</a>
</section>

<section class="clearfix wrapped container">
      <div class="project-preview col">
        <div class="project-description">
          <h3 class="project-title">WEST SHIPYARD</h3>
          <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
          <p>Austin, TX</p>
        </div>
      </div>

      <div class="project-preview col">
        <div class="project-description">
          <h3 class="project-title">WEST SHIPYARD</h3>
          <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
          <p>Austin, TX</p>
        </div>
      </div>

      <div class="project-preview col">
        <div class="project-description">
          <h3 class="project-title">WEST SHIPYARD</h3>
          <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
          <p>Austin, TX</p>
        </div>
      </div>
</section>