<section class="head-title">
  <h1>WEST SHIPYARD</h1>
</section>

<section class="wrapped head-subtitle">
  <h1>We specialize in traditional architecture, design, and planning adhering to the classic principles of the lowcountry vernacular.</h1>
</section>

<section class="wrapped clearfix separate-ind">
  <div class="col full picframe"></div>
</section>

<section class="wrapped clearfix separate-ind">
  <div class="col two-thirds">
    <div class="picframe"></div>
    <div class="picframe"></div>
    <div class="picframe"></div>
    <div class="picframe"></div>
  </div>
  <div class="col flow-opposite fourth text">
    <h3>WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard</p>
    <hr>
    <h4>AUSTIN, TX</h4>
  </div>
</section>