<section class="head-title">
  <h1>PROYECTO 1</h1>
</section>

<section class="wrapped head-subtitle">
  <h1>We specialize in traditional architecture, design, and planning adhering to the classic principles of the lowcountry vernacular.</h1>
</section>

<section class="wrapped clearfix separate-ind">
  <div class="col full picframe"></div>
</section>

<section class="wrapped clearfix separate-ind">
  <div class="col two-thirds">
    <div class="picframe"></div>
    <div class="picframe"></div>
    <div class="picframe"></div>
    <div class="picframe"></div>
  </div>
  <div class="col flow-opposite fourth text">
    <h3>HARBOR BLUFF</h3>
    <p>Award Winning Caribbean Influenced Family Home</p>
    <hr>
    <h4>Daniel Island, SC</h4>
  </div>
</section>