<section class="head-title">
  <h1>PROYECTOS COMPLETADOS</h1>
</section>

<section class="clearfix wrapped container">
  <div class="project-preview">
    <a href="/proyecto.html"><div class="project-description">
    <h3 class="project-title">WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
    <h4 class="location">AUSTIN, TX</h4>
    </div></a>
  </div>

  <div class="project-preview">
    <a href="/proyecto.html"><div class="project-description">
    <h3 class="project-title">WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
    <h4 class="location">AUSTIN, TX</h4>
    </div></a>
  </div>

  <div class="project-preview">
    <a href="/proyecto.html"><div class="project-description">
    <h3 class="project-title">WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
    <h4 class="location">AUSTIN, TX</h4>
    </div></a>
  </div>

  <div class="project-preview">
    <a href="/proyecto.html"><div class="project-description">
    <h3 class="project-title">WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
    <h4 class="location">AUSTIN, TX</h4>
    </div></a>
  </div>

  <div class="project-preview">
    <a href="/proyecto.html"><div class="project-description">
    <h3 class="project-title">WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
    <h4 class="location">AUSTIN, TX</h4>
    </div></a>
  </div>

  <div class="project-preview">
    <a href="/proyecto.html"><div class="project-description">
    <h3 class="project-title">WEST SHIPYARD</h3>
    <p class="project-info">A 3-Story Home with  Lake and Amphithteater Views. All Rooms open to a Private Courtyard.</p>
    <h4 class="location">AUSTIN, TX</h4>
    </div></a>
  </div>
</section>